<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name="org.bookreader.mobile.importing.PrivateFixtureProvider"
            android:authorities="org.bookreader.mobile.private-test"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
